<%= form_for(message) do |f| %>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body, :value=>params[:body] %>
  </div>

  <div class="field">
    <% f.label :to_id %>
    <%= f.text_field :to_id, :value=>params[:to_id], :class=>'opacity_none' %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit 'Create Message', :class=>'btn'  %>
  </div>
<% end %>
